.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  padding: 2% 0 3% 0;
  .title_principal {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1%;
    /* font-family: "Shrikhand", cursive; */
  }
  .title_txt {
    font-size: 1.5rem;
    margin-bottom: 1.5%;
  }
  .title_btn {
    height: 50px;
    width: 300px;
    border-radius: 25px;
    font-size: 1.3rem;
    background: linear-gradient(#ff79da, #9356dc);
    color: #fff;
  }
}

@media (max-width: 915px) {
  .title {
    .title_principal {
      text-align: center;
    }
  }
}

@media (max-width: 797px) {
  .title {
    .title_txt {
      text-align: center;
    }
  }
}

@media (max-width: 700px) {
  .title {
    padding: 5% 2%;
    .title_principal {
      text-align: center;
      font-size: 2.5rem;
      margin-bottom: 2%;
    }
    .title_txt {
      font-size: 1.3rem;
      margin-bottom: 2%;
    }
    .title_btn {
      width: 250px;
      font-size: 1.1rem;
    }
  }
}

@media (max-width: 480px) {
  .title {
    padding: 10% 5%;
    .title_principal {
      text-align: center;
      font-size: 1.8rem;
      margin-bottom: 5%;
    }
    .title_txt {
      font-size: 1.1rem;
      margin-bottom: 5%;
    }
  }
}

@media (max-width: 480px) {
  .title {
    padding: 10% 5% 15%;
    .title_principal {
      text-align: center;
      font-size: 1.6rem;
      margin-bottom: 5%;
    }
    .title_txt {
      font-size: 1.1rem;
      margin-bottom: 10%;
    }
    .title_btn {
      width: 230px;
      font-size: 1rem;
    }
  }
}
