.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: #353535;
  color: #fff;

  padding: 2%;
  .footer_logo {
    .logo_link {
      font-family: "Shrikhand", cursive;
      font-size: 2rem;

      color: #fff;
    }
  }
  .footer_items {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 15%;
    i {
      font-size: 1.2rem;

      margin-right: 3%;
    }
    .footer_items__title {
      .footer_items_titleLink {
        color: #fff;

        font-size: 1.2rem;
      }
    }
  }
}
