.fonctionment {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 1% 0;
  margin-bottom: 1%;
  .fonctionment_title {
    font-size: 1.8rem;
    .fonctionment_title_item {
      font-weight: bold;
    }
  }
  .fonctionment_item {
    display: flex;
    justify-content: space-around;
    flex-grow: 0.15;

    padding: 1% 0;

    border-radius: 25px;
    background-color: #f6f6f6;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    &:hover {
      background-color: #f5edff;
    }
    &:active {
      box-shadow: none;
      top: 2px;
      position: relative;
    }

    .item_number {
      display: flex;
      justify-content: center;
      align-items: center;

      margin-right: 3%;

      p {
        font-size: 1.1rem;

        background-color: #9356dc;
        border-radius: 25px;

        padding: 4px 8px;
      }
    }
    .item_icon {
      display: flex;
      justify-content: center;
      align-items: center;

      font-size: 1.2rem;
    }
    .item_txt {
      display: flex;
      justify-content: center;
      align-items: center;

      font-size: 1.2rem;
    }
  }
}

@media (max-width:1070px){
  
}
